name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare ccache directory
        run: |
          mkdir -p ~/.ccache
          echo "Created ccache dir: $HOME/.ccache"

      - name: Cache ccache
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: Linux-ccache-${{ runner.os }}-${{ hashFiles('**/CMakeLists.txt') }}
          restore-keys: |
            Linux-ccache-${{ runner.os }}-

      - name: Install required packages
        run: sudo apt-get update && sudo apt-get install -y build-essential ccache cmake

      - name: Configure (CMake)
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build -- -j$(nproc)

      - name: Run tests
        run: ctest --test-dir build --output-on-failure
